.header{
    display:flex;
    background:white;
    padding:1rem  1rem;
    align-items: center;
    justify-content: space-between;
    border:2px solid blue;
    position:sticky;
    top:0;
    z-index:1000;
}
.header_left{
  display:flex;
  /* border:2px solid pink; */
  margin:0 8px;
  align-items: center;
  
}
.header_left img{
    width:115px;
    margin-left:1rem;
    object-fit:contain;

}
.header_middle{
    /* border:2px solid pink; */
    display: flex;
    align-items: center;
    
}
.header_middle_left{
    display: flex;
    align-items: center;

}
.header_middle_left input{
    border:2px  solid #666;
    border-radius: 25px 0 0 25px;
    font-size:24px;
    box-sizing: border-box;
    padding:2.8px 15px;
    width:40vw;
   
}
.header_middle_left_search_icon{
    border:2px  solid #666;
    border-left: none; 
    border-radius: 0px 25px 25px 0px;
    padding:3.6px 0px;
}
.header_right{
    /* border:2px solid pink; */
    display: flex;
    align-items: center;
}

.header_right_icon{
    margin:0 .7rem;
}

@media screen and (max-width:844px){    
    .header_right_icon{
        margin:0 .3rem;
    }
}
@media screen and (max-width:900px){    
     .remove1{
        display:none;
    }
}
@media screen and (max-width:695px){    
    .remove2{
        display:none;
    }
}
@media screen and (max-width:564px){    
   .header_right{
    display:none;
   }
}
@media screen and (max-width:550px){    
    .header_left img{
        width:78px;
        margin-left:1rem;
        object-fit:contain;
    
    }
    .hamburger_icon{
        width:25px;
    }
    .header_middle_left input{
       
        padding:2.8px 15px;
       
       
    }
    .header_middle_left_search_icon{
        padding: 0px;
    }
    .header{
        padding:1rem 0.3rem;
    }
}
.suggestion_list{
    position: fixed;
  //  border: 5px solid blue;
    width: 50vw;
    height: 500px;
    top: 64px;
    background: white;
}
.suggestion{
    margin: 1rem;
    font-size: 18px;
    font-family: cursive;
}