.sidebar {
    position: fixed;
    top: 95px;
    left: 0px;
    width: 200px;
    height: 80vh;
    overflow: hidden;
    border: 2px solid green;
    z-index: 2000;
    background-color: white;
  
}